<div class="main">
	<div class="expand_form">
		<h1 id="mainTitle">
			<%= link_to image_tag("http://xpandurl.com/assets/logo.png"), "/" %>
		</h1>
	</div>
	
	<div class="apiBox">
		<h2> XpandUrl exposes its data via an Application Programming Interface (API), so developers can interact in a programmatic way with the XpandUrl website.
		</h2>
		
		<div class="restful">
			<h2> Expand </h2>
			<script src="https://gist.github.com/1101220.js?file=expand_url.json"></script>			
			<script src="https://gist.github.com/1101271.js?file=expand_url.xml"></script>
		
			<h2> Error </h2>
			<script src="https://gist.github.com/1101279.js?file=expand_url_invalid_url.json"></script>
			<script src="https://gist.github.com/1101288.js?file=expand_url_invalid_url.xml"></script>
		</div>
	</div>
</div>