<div style="clear: both;" id="foot">
	<div id="footContent">
  	<span>Developed by: <a target="_blank" href="http://twitter.com/moski_doski">@moski_doski</a></span>
    <span>·</span>
    <span><%= link_to "API", docs_api_v1_urls_path %></span>
  </div>
</div>