<div id="share">
		<span>Share </span>
		<div id="plusone-wrapper">
			<g:plusone count="false"></g:plusone>
		</div>
		<div id="twitter-wrapper">
			<a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
		</div>
</div>